<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	
	<!-- 注册数据源 -->
	<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql:///ssh01"></property>
		<property name="user" value="root"></property>
		<property name="password" value="123"></property>
	</bean>
	
	<!-- 注册会话工厂 -->
	<bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 注入数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 指定hibernate核心配置文件的位置 -->
		<property name="configLocations">
			<array>
				<value>classpath:hibernate.cfg.xml</value>
			</array>
		</property>
	</bean>

	<!-- 注册事物管理 -->
	<bean name="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<!-- 注入会话工厂 -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 开启注解事物 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 注册UserAction -->
	<bean name="userAction" class="com.itheima.web.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<!-- 注册UserService -->
	<bean name="userService" class="com.itheima.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<!-- 注册UserDao -->
	<bean name="userDao" class="com.itheima.dao.impl.UserDaoImpl">
		<!-- 注入会话工厂 -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>